<ion-header>
    <ion-navbar no-border-bottom color = 'primary'>
      <ion-title>
        Conteúdo
      </ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click) = 'goPageHome()'>
            <ion-icon name='home'></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="categoria">
        <ion-segment-button value="pdf">
          PDF
        </ion-segment-button>
        <ion-segment-button value="videos">
          Vídeos
        </ion-segment-button>
        <ion-segment-button value="imagens">
          Imagens
        </ion-segment-button>
        <ion-segment-button value="texto">
          Texto
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div [ngSwitch]="categoria">
      
      <ion-card *ngSwitchCase="'pdf'">
          <ion-list >
            <div *ngFor="let item of dadosBasicos | async">
              <a href="{{item.url}}">
              <button ion-item  *ngIf=" item.tipo === 'application/pdf' "  >
                
                <ion-icon name="copy"></ion-icon>
                {{item.nome}}
              </button>
            </a>
            </div>
          </ion-list>
        </ion-card> 
     
  
      
        <ion-card  *ngSwitchCase="'videos'" >
          <div *ngFor="let item of (arrayVideos | async)">
            <ion-card-header>
              {{item.titulo}}
              </ion-card-header>
              <ion-card-content>
                  <iframe width="100%" height="315" [src]="item.embed | youtube" frameborder="0" allowfullscreen ></iframe>
              </ion-card-content>
          </div>  
          </ion-card> 
     
  
      <ion-list *ngSwitchCase="'imagens'">
        <ion-slides class="image-slider" effect="flip">
          <div *ngFor="let item of (dadosBasicos | async)">
              <div *ngIf="item.tipo.indexOf('image') ===0">                  
                    <ion-slide >
                        <img src="{{item.url}}" class="thumb-img" imageViewer/>
                        <div>
                            <ion-card>               
                              <ion-card-header>
                                Clique na imagem para mais detalhes.
                                </ion-card-header>
                                <ion-card-content>
                                    {{item.nome}}
                                </ion-card-content>              
                             </ion-card> 
                          </div>            
                    </ion-slide>                  
              </div>              
          </div>          
        </ion-slides>
      </ion-list>

      <ion-list *ngSwitchCase="'texto'">
          <div *ngFor="let item of (dadosBasicos | async)">
              <div *ngIf="item.tipo === 'Texto'">
                <ion-card>    
                    <ion-card-header>
                      Equipe Bureau
                    </ion-card-header>
                  
                    <ion-card-content>
                     {{item.valor}}
                    </ion-card-content>                  
                  </ion-card>
              </div>
            </div>        
      </ion-list>

    </div>
  </ion-content>