<ion-header>
    <ion-navbar no-border-bottom>
      <ion-title>
        Segments
      </ion-title>
    </ion-navbar>
  
    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="categoria">
        <ion-segment-button value="pdf">
          PDF
        </ion-segment-button>
        <ion-segment-button value="videos">
          Vídeos
        </ion-segment-button>
        <ion-segment-button value="imagens">
          Imagens
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div [ngSwitch]="categoria">
      
      <ion-card *ngSwitchCase="'pdf'">
          <ion-list >
            <div *ngFor="let item of dadosBasicos | async">
              <a href="{{item.url}}">
              <button ion-item  *ngIf=" item.tipo === 'application/pdf' "  >
                
                <ion-icon name="cart" item-start></ion-icon>
                {{item.nome}}
              </button>
            </a>
            </div>
          </ion-list>
        </ion-card> 
     
  
      
        <ion-card  *ngSwitchCase="'videos'" >
          <div *ngFor="let item of (arrayVideos | async)">
            <ion-card-header>
              {{item.titulo}}
              </ion-card-header>
              <ion-card-content>
                  <iframe width="100%" height="315" [src]="item.embed | youtube" frameborder="0" allowfullscreen ></iframe>
              </ion-card-content>
          </div>  
          </ion-card> 
     
  
      <ion-list *ngSwitchCase="'imagens'">
        <div *ngFor="let item of (dadosBasicos | async)">
            <div *ngIf="item.tipo.indexOf('image') ===0">
                teste
            </div>
        </div>
      </ion-list>
    </div>
  </ion-content>