<ion-header>
  <ion-navbar color = 'primary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <button   ion-button class="register-btn" block clear (click) = 'sairNivel()' *ngIf = 'nivelArvore !== "base"'><ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon></button>
    <ion-slides pager paginationType="progress" parallax>
      <ion-slide *ngFor = 'let item of itensBasicos | async' >
         <button (click) = 'entrarNivel(item.$key)' class = 'buttonsClick'>{{item.dado}}</button> 
      </ion-slide>
       
    </ion-slides>
 
</ion-content>
