page-home {
    .buttonsClick{
        padding:120px;
        border: solid 20px #d3a0ff;
        border-radius:50%;
        display: inline-block;
        text-align: center;
        background:#f3e5ff
       
    }
    .swiper-pagination-progress .swiper-pagination-progressbar {
        background:-webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
      }

}
