page-home {
    .buttonsClick{
        padding:100px;
        border: solid 20px #262525  ;
        border-radius:50%;
        display: inline-block;
        text-align: center;
        background-image:#686868 !important;
        
       
    }
  
    .swiper-pagination-progress .swiper-pagination-progressbar {
        background:#262525;
      }
      ion-content{
        background-image: url('../assets/imgs/montanhas.jpg') !important;
        background-repeat: no-repeat;
        /* Full height */
        height: 100%; 

        /* Center and scale the image nicely */
        background-position: top !important;
        background-repeat: no-repeat !important;
        background-size: 500px 800px !important;
          
         
      }
    
}
